<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
  <div id="root">
    <input type="text" v-model='firstName' value="qin">
    <input type="text" v-model='lastName' value="hao">
    <span>{{fullName}}</span>
  </div>

  <script type="text/javascript">
   Vue.config.productionTip=false


     var vm  = new Vue({
      el:'#root',
      data:{
        firstName:'qin',
        lastName:'hao'
      },
      computed:{
        fullName:{
          get(){
            console.log("get被调用")
            return this.firstName+'-'+ this.lastName
          },

          set(v){
            console.log("get被调用",v)
            const arr = v.split('-')
            this.firstName = arr[0]
            this.lastName = arr[1]
          }
        }
        // 简写
        // fullName(){
        //   return this.firstName+ this.lastName
        // }
      }
     })
  </script>
</body>
</html>